/**********************************
GENERAL
***********************************/

/*  Configure Body  */
body {
  font-family: 'Open Sans', sans-serif;
}

/*  Configure body container  */
#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

/*  Remove underline from links */
a {
  text-decoration: none;
}

/*  Make the image consume the entire area of its container */
img {
  max-width: 100%;
}

/**********************************
HEADING
***********************************/

/*  Configure Header */
/* ?? */
header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

/*  Set the header text in the center of the page  */
#logo {
  text-align: center;
  margin: 0;
}

/*  Configure the main heading */
h1 {
  font-family: 'Changa One', sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

/*  Configure the sub heading */
h2 {
  font-size: 0.75em;
  margin: -5px 0 0;
  font-weight: normal;
}

/*  Configure the h3 headings */
h3 {
  margin: 0 0 0.5em 0;
}

/**********************************
NAVIGATION
***********************************/

/* Configures the text in the navigation list's list items */
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

/* Removes the bullets and paddings of the list items */
nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

/* Sets the navigation items in one line rather than like a list */
nav li {
  display: inline;
}

/* Configures the navigation items links */
nav a {
  font-weight: 800;
  padding: 15px 10px;
}

/**********************************
FOOTER
***********************************/

/* Configures the footer */
footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

/* Configures the social links icons */
.social-icon {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

/**********************************
PAGE: PORTFOLIO
***********************************/

/* Configures the gallery list */
#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Configures the gallery list items */
#gallery li {
  background-color: #f5f5f5;
  color: #888;
  /* Sets the gallery items in a grid */
  float: left;
  /* Sets the gallery items two in a grid: 2.5 + 45 + 2.5 + 2.5 + 45 + 2.5 */
  width: 45%;
  margin: 2.5%;
}

/* Configures the gallery list items links and text */
#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: #888
}

/**********************************
PAGE: ABOUT
***********************************/

.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 30px;
  border-radius: 100%;
}

/**********************************
PAGE: CONTACT
***********************************/

/* Configures the contacts details list */
.contact-info {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.9em;
}

/* Configures the contacts details list links */
.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

/* Adds the background images to contact details items */
.contact-info li.phone a {
  background-image: url('../img/phone.png');
}
.contact-info li.mail a {
  background-image: url('../img/mail.png');
}
.contact-info li.twitter a {
  background-image: url('../img/twitter.png');
}

/**********************************
COLORS
***********************************/

/* site body */
body {
  background-color: #fff;
  color: #888;
}

/* green header */
header {
  background: #5bb16e;
  border-color: #5bb16e;
}

/* nav background on mobile */
nav {
  background: #5bb16e;
}

/* logo text */
h1, h2 {
  color: #fff;
}

/* links */
a {
  color: #5bb16e;
}

/* nav link */
nav a, nav a:visited {
  color: #fff;
}

/* selected nav link */
nav a.selected, nav a:hover {
  color: #32673f;
}

h3 {
  color: #5bb16e;
}
