/**
This breakpoint makes responsiveness changes for sizes greater than those of a usual mobile browser.
*/
@media screen and (min-width: 480px) {
  /**
    PAGE: PORTFOLIO
  */
  /*  Update the gallery items to 3 items in a row rather than 2 in the case of mobile.  */
  #gallery li {
    width: 28.3333%;
  }

  /*  Fixes the issue where the 4th item of the grid would sometimes break the grid pattern when the caption size on the previous items would increase much. */
  #gallery li:nth-child(4n) {
    clear: left;
  }

  /**
    PAGE: ABOUT
  */
  .profile-photo {
    float: left;
    margin: 0 5% 80px 0;
  }

  /**
    PAGE: CONTACTS
  */
    /*  Update the sections to side by side columns rather than stacked on top of each other like in the case of mobile.  */
  #primary {
    width: 50%;
    float: left;
  }
  #secondary {
    width: 40%;
    float: right;
  }
}

/**
This breakpoint makes responsiveness changes for sizes greater than those of a usual tablet browser.
*/
@media screen and (min-width: 660px) {
  /**
    HEADER
  */

  /*  Update the logo to left aligned. */
  #logo {
      float: left;
      margin-left: 5%;
      text-align: left;
      width: 45%;
  }

  /*  Updates the logo headings. */
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }

  /*  Update the navigation to right aligned. */
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 2.75%;
    text-align: right;
    width: 45%;
  }

  /*  Updates the header bottom. */
  header {
    border-bottom: 5px solid #5bb16e;
    margin-bottom: 60px;
  }
}
